body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-size: 24px;
  position: absolute;
  transition: all 0.3s ease;
  background-color: #f00; /* Red button */
  color: #fff;
  border: 2px solid #fff; /* White border */
  padding: 10px 20px; /* Add some padding for a retro button shape */
  font-family: 'Press Start 2P', cursive; /* Use a retro font */
}

#app.gotclicked {
  background-color: #0f0; /* Green button when clicked */
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#restart {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  background-color: #f00; /* Red button */
  color: #fff;
  border: 2px solid #fff; /* White border */
  padding: 10px 20px; /* Add some padding for a retro button shape */
  font-family: 'Press Start 2P', cursive; /* Use a retro font */
  font-size: 18px;
  cursor: pointer;
}

#restart:hover {
  background-color: #ff8080; /* Lighter red on hover */
}
